.player {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.control-btn-wrapper {
  display: flex;
}

.control-btn {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  padding: 0;
  margin: 0;
  height: 30px;
  background: #fff;
  border: none;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
}

.player-play-icon {
  position: relative;
  left: 50%;
  border: 10px solid transparent;
  border-left: 18px solid #90bfb3;
  cursor: pointer;
  transform: translateX(-10%);
  width: 80px;
  box-sizing: border-box;
}

.player-pause-icon {
  height: 20px;
  width: 20px;
  position: relative;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  box-sizing: border-box;
}

.player-pause-icon:before,
.player-pause-icon:after {
  position: absolute;
  top: 0;
  display: block;
  width: 5px;
  height: 100%;
  content: '';
  background: #90bfb3;
}

.player-pause-icon:before {
  left: 0;
}

.player-pause-icon:after {
  right: 0;
}

.player-next-icon,
.player-prev-icon {
  height: 14px;
  width: 20px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  box-sizing: border-box;
}

.player-prev-icon {
  transform: rotate(180deg) translateX(50%);
}

.player-next-icon:before,
.player-prev-icon:before {
  position: absolute;
  top: 0;
  display: block;
  width: 5px;
  content: '';
  border: 7px solid transparent;
  border-left: 12px solid #90bfb3;
}

.player-next-icon:after,
.player-prev-icon:after {
  position: absolute;
  top: 0;
  display: block;
  width: 5px;
  height: 100%;
  content: '';
  background: #90bfb3;
  right: 0;
}

.track-info-wrapper {
  display: flex;
  color: #90bfb3;
  width: 100%;
  min-width: 0;
}

.track-info-duration {
  margin-left: auto;
  font-size: 14px;
  color: #90bfb3;
}

.track-info-name {
  width: 60%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}