.search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  border: 1px solid #90bfb3;
  padding: 3px;
}

.search-btn {
  border: 1px solid #90bfb3;
  border-left: none;
  background: #90bfb3;
  color: #fff;
  cursor: pointer;
}