.track {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #90bfb3;
  padding: 4px;
  height: 48px;
}

.track.active {
  background: #3dccfb;
}

.track-image-wrapper {
  flex: 0 0 auto;
  height: 100%; 
}

.track-image {
  height: 100%;
  display: block;
  max-width: 100%;
}

.track-play-btn-wrapper {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-play-btn {
  padding: 5px;
  margin: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid #bbb;
  color: #bbb;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-play-btn.active {
  color: #fff;
  border-color: #fff;
}

.track-title {
  overflow: hidden;
  flex: 1 1 auto;
  padding: 0 5px; 
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}

.track-name {
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track-artist-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

