.volume-control {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 42px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%,-100%);
  background: #333;
  border: 1px solid #222;
}

.volume-control-btn {
  flex: 1 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3dccfb;
}

/*.volume-control-btn {
  padding: 0;
  flex: 0;
  color: #3dccfb;
  background: transparent;
  border: none;
  cursor: pointer;
}*/

.volume-control-btn:active {
  color: #fff;
}

.volume-control-slider {
  padding: 16px;
  width: 100%;
  position: relative;
  flex: 1 0 auto;
  cursor: pointer;
}

.volume-control-slider:before {
  content: '';
  background: #fff;
  height: 100%;
  width: 4px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.volume-control-slider-filler {
  position: absolute;
  background: #3dccfb;
  bottom: 0;
  left: 50%;
  width: 4px;
  transform: translateX(-50%);
}